block content
  .input-group.input-group-sm.h-colormap-row
    select.form-control.h-colormap
      option(value="", selected=!colormapId) #{nullLabel}
      each colormap in colormaps
        option(value=colormap.id, selected=colormap.id === colormapId)
          if colormap.get('name')
            | #{colormap.get('name')}
          else
            | #{nullNameLabel}
    .input-group-btn
      button.btn.btn-default.h-remove-colormap(type='button',
                                               class=!colormapId && "disabled")
        span.icon-cancel(data-toggle='tooltip', title='Remove colormap')
      button.btn.btn-default.h-upload-colormap(type='button')
        span.icon-upload(data-toggle='tooltip', title='Upload colormap')
